.logo{
    width: 10%;
    /* border: 2px solid red; */
    padding: .5rem;
    box-sizing: border-box;
    
}
.logo img{
    width: 100%;
}

@media (max-width: 768px){
    .logo{
        width: 20%;
    }
}

@media (max-width: 480px){
    .logo{
        width: 30%;
    }
}