.nav-item-cont {
  position: relative;
  cursor: pointer;
}
.nav-item {
  /* display: block; */
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display:none;
  flex-direction: column;
  gap: 5px;
  display: none;
  width: 200px;
  z-index: 1000;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  
}
.dropdown li {
  text-align: left;
  padding:5px;
}

.dropdown a {
    width: 100%;
}
.dropdown li:hover {
    border-bottom: 1px solid rgb(203, 186, 186);
  }