.logos {
  display: flex;
  justify-content: center;
  gap: .5rem;
  min-width: 4%;
  padding: .2rem .6rem;
  flex-shrink: 0;
}

.logos img {
  width: 75%;
}

/* @media (max-width:768){
  .logos img{
    width:10% ;
  }
} */